/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.menu-list {
  margin-top: 60px;
}

.component-toolbar {
  margin-top: 56px;
}

.content-body {
  margin-top: 70px;
}

.component-header {
  height: 90px;
}

.component-header-title {
  padding-right: 8px;
  padding-left: 16px;
  color: #FFFF;
  font-size: 20px;
  font-weight: 300;
}
